// ==========================================================================
// Basal – Code
// ==========================================================================
code, kbd, pre, samp {
  padding: $spacing-xs $spacing-sm;
  font-family: $font-family-monospace;
  line-height: normal;
  font-weight: normal;
  background: $gray-lighter;
  color: $gray-dark;
  border: 1px solid $gray-light;
  word-wrap: break-word;
}