// ==========================================================================
// Basal – Grid
// ==========================================================================

@import 'mixins/mixins.grid';

// Containers
.container {
	@include horizontal-padding($spacing);
	@include horizontal-margin(auto);
	max-width: $width-container;
}
.container-full {
	@incluide horizontal-margin(auto);
	max-width: none;
}

// Rows
.row {
	@include clearfix;
	position: relative;
}

.row-sm { @include vertical-padding($spacing-sm); }
.row-xl { @include vertical-padding($spacing-xl); }

// Columns
.col {
	@include horizontal-padding($gutter);
	float: left;
	position: relative;
}


.no-gutter {
	@include horizontal-padding(0);
}

// Shared grid styles
// -------------------------------------------

@include grid;
.no-push, .no-pull { left: auto; }

// END Shared grid styles
// -------------------------------------------

@include mquery($breakpoint-tablet) {

	@include grid(tablet);
	.tablet-no-push, .tablet-no-pull { left: auto; }
}

@include mquery($breakpoint-phone) {
	@include grid(phone);
	.phone-no-push, .phone-no-pull { left: auto; }
}
