// ==========================================================================
// Basal – CSS Helpers / Extras
// ==========================================================================

.clearfix { @include clearfix }

// Display
.block { display: block }
.inline { display: inline }
.inline-block { @include inline-block }

// Accessibility (offscreen text for screen readers)
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	left: -9999em;
}

// Image Spacing
.image-left { margin-right: $spacing }
.image-right { margin-left: $spacing }

// Shared helpers
// -------------------------------------------

// Floats
.left { float: left; }
.right { float: right; }

.none, 
[hidden] { display: none }
.show { display: block }

.no-margin { margin: 0 }
.no-padding { padding: 0 }

// Font Weights
.font-ultra-bold { font-weight: 900 }
.font-bold { font-weight: 700 }
.font-light { font-weight: 300 }
.font-thin { font-weight: 100 }

// Font Styles
.font-normal { font-style: normal }
.capitalize { text-transform: capitalize }
.uppercase { text-transform: uppercase }

// Text Position
.text-left { text-align: left }
.text-right { text-align: right }
.text-center { text-align: center }

// END Shared helpers
// -------------------------------------------

// TODO: make the helper styles reusable

@include mquery($breakpoint-tablet) {
	.tablet-left { float: left }
	.tablet-right { float: right }

	.tablet-none { display: none }
	.tablet-show { display: block }

	.tablet-no-margin { margin: 0 }
	.tablet-no-padding { padding: 0 }

	.tablet-full {
		display: block;
		left: auto;
		clear: both;
		float: none;
		width: auto;
		margin: 0;
	}

	// Font Weights
	.tablet-font-ultra-bold { font-weight: 900 }
	.tablet-font-bold { font-weight: 700 }
	.tablet-font-light { font-weight: 300 }
	.tablet-font-thin { font-weight: 100 }

	// Font Styles
	.tablet-font-normal { font-style: normal }
	.tablet-capitalize { text-transform: capitalize }
	.tablet-uppercase { text-transform: uppercase }

	// Text Position
	.tablet-text-left { text-align: left }
	.tablet-text-right { text-align: right }
	.tablet-text-center { text-align: center }
}

@include mquery($breakpoint-phone) {
	.phone-left { float: left }
	.phone-right { float: right }

	.phone-none { display: none }
	.phone-show { display: block }

	.phone-no-margin { margin: 0 }
	.phone-no-padding { padding: 0 }

	.phone-full {
		display: block;
		left: auto;
		clear: both;
		float: none;
		width: auto;
		margin: 0;
	}

	// Font Weights
	.phone-font-ultra-bold { font-weight: 900 }
	.phone-font-bold { font-weight: 700 }
	.phone-font-light { font-weight: 300 }
	.phone-font-thin { font-weight: 100 }

	// Font Styles
	.phone-font-normal { font-style: normal }
	.phone-capitalize { text-transform: capitalize }
	.phone-uppercase { text-transform: uppercase }

	// Text Position
	.phone-text-left { text-align: left }
	.phone-text-right { text-align: right }
	.phone-text-center { text-align: center }
}