// ==========================================================================
// Basal – Media
// ==========================================================================

// Images
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

// Audio
audio,
canvas,
progress,
video {
  @include inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  @extend .none;
  height: 0;
}
