// ==========================================================================
// Base – Grid
// ==========================================================================
.section { position: relative; }

// Containers
.container {
	@include horizontal-padding($spacing);
  max-width: $desktop-container;
  margin-left: auto;
  margin-right: auto;
}
.container-full {
  max-width: $desktop-container;
  margin-left: auto;
  margin-right: auto;
}

// Rows
.row {
	@include clearfix;
	@include vertical-padding($gutter);
}

// Columns
.col {
	@include horizontal-padding($gutter);
  float: left;
}
[class*="pull-"], [class*="push-"] { position: relative; }

.no-gutter {
	@incliude horizontal-padding: 0;
}


.row-0 { @include vertical-padding(0); }
.row-sm { @include vertical-padding($spacing-sm); }
.row-lg { @include vertical-padding($spacing-xl); }
.row-xl { @include vertical-padding(2 * $spacing-xl); }

.no-desktop { display: none; }

@import "../_desktop-styles"; // Import Custom Desktop Styles