// ==========================================================================
// Base – Grid
// ==========================================================================

@import 'mixins/mixins.grid';

.section { position: relative; }

// Containers
.container {
	@include horizontal-padding($spacing);
  max-width: $desktop-container;
  margin-left: auto;
  margin-right: auto;
}
.container-full {
	@incluide horizontal-margin(auto);
  max-width: $desktop-container;
}

@include grid();

// Rows
.row {
	@include clearfix;
	position: relative;
}

.row-space { @include vertical-padding($spacing-xl); }

// Columns
.col {
	@include horizontal-padding($gutter);
  float: left;
	position: relative;
}

.no-push { left: auto }

.no-gutter {
	@include horizontal-padding(0);
}

.no-desktop { display: none; }
