// ==========================================================================
// Base – Grid
// ==========================================================================
.section { position: relative; }

.container {
  max-width: $desktop-container;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.container-full {
  max-width: $desktop-container;
  margin-left: auto;
  margin-right: auto;
}

// Columns
.col {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
[class*="pull-"], [class*="push-"] { position: relative; }

.no-gutter {
  padding-left: 0;
  padding-right: 0;
}

@for $i from 1 through $columns {
	.col-#{$i} { width: (100% * $i / $columns) - (2 * $gutter); }

	@if $i != $columns {
		.push-#{$i} { left: (100% * $i / $columns) - (2 * $gutter); }
		.pull-#{$i} { left: (-100% * $i / $columns) - (2 * $gutter); }
	}
}

// Rows
.row {
  padding-top: 1em;
  padding-bottom: 1em;
}

.no-desktop { display: none; }

@import "../_desktop-styles"; // Import Custom Desktop Styles