@media only screen and (max-width: $mobile-breakpoint) {

.container, .mobile-container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  float: none;
  &:first-child { margin-left: auto; }
}
.mobile-container-full {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  float: none;
  &:first-child { margin-left: auto; }
}

.mobile-no-gutter {
  padding-left: 0;
  padding-right: 0;
}

//
.mobile-no-push, .mobile-no-pull { left: auto; }

// Mobile Rows
.mobile-row {
  padding-top: 1em;
  padding-bottom: 1em;
}

.mobile-full {
  left: auto;
  clear: both;
  float: none;
  width: 100%;
  margin: 0.2em 0 0 0;
  display: block;
}
.mobile-full:first-child { margin-top: 0; }

.mobile-text-left { text-align: left; }
.mobile-text-right { text-align: right; }
.mobile-text-center { text-align: center; }

.mobile-left { float: left; }
.mobile-right { float: right; }
.mobile-no-float { float: none; }

// Remove Margin / Padding
.mobile-no-margin { margin: 0; }
.mobile-no-padding { padding: 0; }

.no-mobile { display: none; }
.show-mobile { display: block; }

@import "../_mobile-styles"; // Import Custom Mobile Styles

} // End Mobile Media Query