// ==========================================================================
// Buttons
// ==========================================================================

@import 'mixins/mixins.buttons';

.btn {
  @include btn-common($spacing-sm, $spacing);
  margin: $spacing-xs;
  
  &.small-btn {
    font-size: $font-size-sm;
  }
  
  &.large-btn {
    font-size: $font-size-lg;
  } 
}

.btn-primary {
  @include btn-style($color-primary);
}
.btn-secondary {
  @include btn-style($color-secondary);
}
.btn-tertiary {
  @include btn-style($color-tertiary);
}
.btn-danger {
  @include btn-style($color-danger);
}
.btn-default {
  @include btn-style($gray-light);
}

.btn[disabled],
.btn.disabled {
  opacity: 0.8;
  pointer-events: none;
}
