// ==========================================================================
// Buttons
// ==========================================================================

@import 'mixins/mixins.buttons';

.btn {
  display: inline-block;
  padding: $spacing-sm $spacing;
  margin: $spacing-xs;
  font-family: $font-family-body;
  font-size: $font-size;
  text-decoration: none !important;
  border: 0;
  cursor: pointer;
  user-select: none;
  
  &.small-btn {
    font-size: $font-size-sm;
  }
  
  &.large-btn {
    font-size: $font-size-lg;
  } 
}

.btn-primary {
  @include btn-style($color-primary);
}
.btn-secondary {
  @include btn-style($color-secondary);
}
.btn-tertiary {
  @include btn-style($color-tertiary);
}
.btn-danger {
  @include btn-style($color-danger);
}
.btn-default {
  @include btn-style($gray-light);
}

.btn[disabled],
.btn.disabled {
  opacity: 0.8;
  pointer-events: none;
}
