// ==========================================================================
// Code
// ==========================================================================
code, kbd, pre, samp {
  padding: $spacing-xs;
  font-family: $font-family-monospace;
  line-height: normal;
  font-weight: normal;
  word-wrap: break-word;
  border-radius: $border-radius;
}

pre {
  overflow-x: auto;
}

pre code {
  display: block;
}