// ==========================================================================
// Demo styles
// ==========================================================================

.grid-block {
  padding: $spacing 0;
  margin-top: $spacing;
  border-radius: $border-radius;
  background-color: $color-primary;
}
