// ==========================================================================
// Basal – Grid
// ==========================================================================

@import 'mixins/mixins.grid';

// Containers
.container {
  @include horizontal-padding($spacing);
  @include horizontal-margin(auto);
  max-width: $width-container;
}
.full-container {
  @incluide horizontal-margin(auto);
  max-width: none;
}

// Rows
.row {
  @include clearfix;
  @include horizontal-margin(-$gutter);
  position: relative;
}
.row-sm { @include vertical-padding($spacing-sm); }
.row-lg { @include vertical-padding($spacing-lg); }

// Columns
.col {
  @include horizontal-padding($gutter);
  float: left;
  //position: relative;
}
.no-gutter { @include horizontal-padding(0); }
.no-push, .no-pull { margin-left: auto; }

@each $namespace, $breakpoint in $breakpoints {
  @if $breakpoint != false {
    @include mquery($breakpoint) {
      @include grid($namespace);
    }
  }
  @else {
    @include grid;
  }
}

