// ==========================================================================
// Lists & Navs
// ==========================================================================

ol, ul {
  margin: $spacing 0;
  padding: 0 0 0 $spacing;
}

dl {
  dt {
    font-style: normal;
  }

  dd {
    margin-bottom: $spacing;
  }
}

// Remove Styling from List
.unstyled-list {
  @include list-reset;
  
  li {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.inline-list {
  @extend .unstyled-list;
  display: inline-block;
  > li {
    display: inline-block;
  }
}

.nav-list {
  @include list-reset;
  @include clearfix;

  > li {
    float: left;

    > a {
      display: block;
      padding: $spacing-sm;
      cursor: pointer;
    }
  }
}