// ==========================================================================
// Lists & Navs
// ==========================================================================

dl, menu, ol, ul { margin: 0 0 $spacing }
dd,
ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0;
}

dt { font-style: normal }
dd {
  margin-bottom: $spacing;
}

menu, ol, ul { padding: 0 0 0 $spacing; }
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

menu, ol, ul { padding: 0 0 0 $spacing; }

// Remove Styling from List
.unstyled-list {
  @include list-reset;
  li {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.inline-list {
  @extend .unstyled-list;
  display: inline-block;
  > li {
    display: inline-block;
  }
}

.nav-list {
  @include list-reset;
  @include clearfix;

  > li {
    float: left;

    > a {
      display: block;
      padding: $spacing-sm;
      cursor: pointer;
    }
  }
}