// ==========================================================================
// Basal – Mixins
// ==========================================================================

// Functions
@function check-bg($color) {
  @if (lightness($color) > 60) {
    @return $gray-darker; // Lighter background, return dark color
  } @else {
    @return #fff; // Darker background, return light color
  }
}

// Shorthands
@mixin clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin mquery($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin square($size) {
  @include size($size, $size);
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin horizontal-padding($value) {
  padding-left: $value;
  padding-right: $value;
}

@mixin vertical-padding($value) {
  padding-top: $value;
  padding-bottom: $value;
}

@mixin vertical-margin($value) {
  margin-top: $value;
  margin-bottom: $value;
}

@mixin horizontal-margin($value) {
  margin-left: $value;
  margin-right: $value;
}

@mixin bg($bg-color, $color:false) {
  // If a custom color isn't specified, check it against the background
  @if ($color == false) {
    $color: check-bg($bg-color);
  }
  background-color: $bg-color;
  color: $color;
}

@mixin drop-shadow {
  @include box-shadow(0 1px 3px rgba(0,0,0,.4));
}
