// ==========================================================================
// Theme styles
// ==========================================================================

body {
  background-color: #fff;
  color: $gray-dark;
}

a {
  color: $color-primary;
}

hr {
  background-color: $gray-light;
}

blockquote {
  color: $gray-dark;
}

code, pre, kbd, sample {
  background-color: $gray-lighter;
  color: $gray-dark;
  border: $border-width solid $gray-light;
}

pre code {
  background-color: transparent;
  border: 0;
}

@include mquery(map-get($breakpoints, sm)) {
  // styles on small devices
  
}

@include mquery(map-get($breakpoints, md)) {
  // styles on medium devices
  
}

@include mquery(map-get($breakpoints, lg)) {
  // styles on medium devices
  
}
