// ==========================================================================
// Base – Blockquotes
// ==========================================================================
blockquote {
	@extend .em;
	font-size: $font-size;
	line-height: $line-height * 1.2;
	margin: $spacing 0;
	padding: 0 $spacing-sm;
	color: $gray-dark;
	position: relative;
	border-left: 6px solid $gray-lighter;
	z-index: 1;
	p {
		margin: $spacing-sm;
	}
}

cite {
	color: $color-primary;
	font-style: normal;
	font-size: $font-size;
	line-height: $line-height;
}

q {
  @extend .em;
  quotes: none;
}
q:before, q:after {
  content: '';
  content: none;
}