// ==========================================================================
// Basal – Global Variables
// ==========================================================================

// Variables
// -----------------------------------------------

$baseUrl:										''; // for when building the site with a prefixed url (e.g. /blog)

// Layout
$width-container:						680px;
$width-container-lg:				$width-container; // maybe make a larger container later

// Responsive breakpoints
$breakpoint-lg:							1350px;
$breakpoint-tablet:					760px;
$breakpoint-phone:					480px;

// Colors
$green:											#2fa23a;
$red:												#be1c37;

// Grays
$gray-lighter:							#eee;
$gray-light:								#ccc;
$gray:											#999;
$gray-dark:									#666;
$gray-darker:								#111;

$color-primary:							$green;
$color-link:								$color-primary;
$color-danger:							$red;

$color-bg-page:							#fff;
$color-text:								$gray-darker;

// Type
$font-family-serif:					serif;
$font-family-sans-serif:		sans-serif;
$font-family-monospace:			monospace;

$font-family-body:					$font-family-serif;
$font-family-heading:				$font-family-sans-serif;

$font-size: 								16px;
$font-size-sm:							$font-size * 0.8;
$line-height:								1.6;

// headings
$font-size-h1: 							$font-size + 30;
$font-size-h2: 							$font-size + 22;
$font-size-h3: 							$font-size + 14;
$font-size-h4: 							$font-size + 8;
$font-size-h5: 							$font-size + 6;
$font-size-h6: 							$font-size + 2;

// Standard spacings
$spacing-xs:								$font-size * 0.5;
$spacing-sm:								$font-size-sm;
$spacing:										$font-size;
$spacing-lg:								$font-size * 1.5;
$spacing-xl:								$font-size * 2.5;

// Grid
$columns:										12;
$gutter:										$spacing-sm;

// z-index
$z-index-component:					10;
$z-index-tooltip:						20;
