// ==========================================================================
// Default colors
// ==========================================================================

// Grays
// ==========================================================================
$gray-lighter:                      #eee;
$gray-light:                        #ccc;
$gray:                              #999;
$gray-dark:                         #666;
$gray-darker:                       #111;

// Colors
// ==========================================================================
$green:                             #65BF4C;
$purple:                            #570F5D;
$yellow:                            #F7C45B;
$red:                               #E92B49;

// Tie the colors to the color system
// ==========================================================================
$color-primary:                     $green;
$color-secondary:                   $purple;
$color-tertiary:                    $yellow;
$color-danger:                      $red;