// ==========================================================================
// Default colors
// ==========================================================================

// Grays
// ==========================================================================
$gray-lighter:                      #eee;
$gray-light:                        #ccc;
$gray:                              #999;
$gray-dark:                         #666;
$gray-darker:                       #111;

// Colors
// ==========================================================================
$green:                             #65BF4C;
$blue:                              #497180;
$orange:                            #E9BF37;
$red:                               #D15344;

// Tie the colors to the color system
// ==========================================================================
$color-primary:                     $green;
$color-secondary:                   $blue;
$color-tertiary:                    $orange;
$color-danger:                      $red;