hr {
  background-color: #ccc;
}

.navbar {
  background-color: #eee;
}

.pagefooter {
  padding: 1.5em;
  background-color: #eee;
}

.grid-block {
  padding: 1em 0;
  margin-top: 1em;
  border-radius: 3px;
  background-color: #65BF4C;
}
