// ==========================================================================
// Mixins/Buttons
// ==========================================================================

@mixin btn-style($color, $text-color: check-bg($color)) {
  background-color: $color;
  color: $text-color;

  &:focus, &:hover {
    background-color: lighten($color, 4%);
  }

  &:active {
    background-color: darken($color, 4%);
  }
}