// ==========================================================================
// Base – Mixins - Grid
// ==========================================================================

@mixin grid($_prefix:false) {
	
	// Add hyphen to prefix, otherwise just output an empty string 
	@if ($_prefix) {
		$prefix = '#{$_prefix}-';
	} @else {
		$prefix = '';
	}

	@for $i from 1 through $columns {
		.#{$prefix}col-#{$i} { width: 100% * $i / $columns; }

		// Don't create a push/pull for the last column
		@if $i != $columns {
			.#{$prefix}push-#{$i} { left: 100% * $i / $columns; }
			.#{$prefix}pull-#{$i} { left: -100% * $i / $columns; }
		}
	}
}
