// ==========================================================================
// Base – Mixins - Buttons
// ==========================================================================

@mixin btn-style ($color) {
	@include box-shadow(inset 0 -2px 0 0 darken($color, 10%));
	background-color: $color;
	color: check-background($color);

	&:hover {
		background-color: lighten($color, 4%);
	}

	&:active, &:focus {
		@include box-shadow(0 0 0 0);
		background-color: darken($color, 5%);
	}
}