// ==========================================================================
// Demo styles
// ==========================================================================

@import
  'partials/variables'
  ;

hr {
  background-color: $gray-light;
}

.navbar {
  background-color: $gray-lighter;
}

.pagefooter {
  padding: $spacing-lg;
  background-color: $gray-lighter;
}

.grid-block {
  padding: $spacing 0;
  margin-top: $spacing;
  border-radius: $border-radius;
  background-color: $color-primary;
}
