// ==========================================================================
// Demo styles
// ==========================================================================

@import
  'partials/variables'
  ;

hr {
  background-color: $gray-light;
}

.navbar {
  background-color: $gray-lighter;
}

code, pre, kbd, sample {
  background-color: $gray-lighter;
  color: $gray-dark;
  border: $border-width solid $gray-light;
}

pre code {
  background-color: transparent;
  border: 0;
}
.pagefooter {
  padding: $spacing-lg;
  background-color: $gray-lighter;
}

.grid-block {
  padding: $spacing 0;
  margin-top: $spacing;
  border-radius: $border-radius;
  background-color: $color-primary;
}
